  body {
    margin: 0;
    padding: 0;
    
    background-color: #eee9e6;
    font-family: 'Noto Serif JP', serif;
  }

  header {
    /* background-image: url('select8.jpg'); */
    background-image: url('res/header.jpg');
    background-size: cover;
    aspect-ratio: 3 / 1;
  }

  p {
    text-align: center;
    font-size: 4vw;
  }

  .top-page {
    position: relative;
    background-image: url('res/select45.JPG');
    background-size: cover;
    aspect-ratio: 3 / 5;
  }

  .imgfilter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* 背景色と透明度を調整 */
  }

  .top-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #ffffff;
  }

  .subpage {
    margin-top: 5em;
    margin-bottom: 5em;
  }

  h1 {
    position: absolute;
    color: #000000;
    font-family: 'Great Vibes', cursive;
    /* おしゃれなフォントを指定 */
    font-size: 3em;
    /* フォントサイズを調整 */
  }

  h2 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 6em;
    color: #c4972f;
    line-height: 0.7;
    margin-bottom: 0;
  }

  h2 span {
    font-family: 'Noto Serif JP', serif;
    font-size: 0.3em;
    color: #c4972f;
  }

  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 4vw;
    width: 100%
  }
  
  li {
    margin: 1em;
    line-height: 1;
  }

  li span {
    font-size: 0.7em;
    color: #777;
  }

  button {
    background-color: #f0f0f0;
    /* ボタンの背景色を設定 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    /* ボーダーとパディングを含めて横幅計算 */
    font-family: 'Noto Serif JP', serif;
  }

  button:hover {
    background-color: #e0e0e0;
    /* ホバー時の背景色を設定 */
  }

  .quiz-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* 横幅が足りない場合に折り返す */
    gap: 10px;
  }

  .option-button {
    font-size: 3em;
    padding: 2em;
    width: 49%;
    /* 横幅を50%に設定 */
    box-sizing: border-box;
    /* ボーダーとパディングを含めて横幅計算 */
  }


  .profile-container {
    display: flex;
    justify-content: space-between;
  }

  .profile-column {
    font-size: 3vw;
    flex: 1;
    padding: 0px;
    margin: 5px;
  }

  .profile-column-q {
    flex: 1;
    padding: 0px;
    margin: 5px;
  }

  .profile-column-q p {
    color: #c4972f;
  }

  .seat-spot {
    position: relative;
  }

  .circle {
    position: absolute;
    width: 2vw; /* 直径 */
    height: 2vw; /* 直径 */
    top: -20%;
    left: -20%;
    transform: translate(-50%, -50%);
    border-radius: 50%; /* 角丸 */
    border: 5px solid #f00; /* 線の太さと色 */
    box-sizing: border-box; /* ボーダーボックスのサイズ指定 */
    animation: ripple 1s linear infinite; /* 2秒かけて波紋が広がり続けるアニメーション */
  }
  
  @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(0); /* 初期状態：通常サイズ */
      border-width: 0; /* 初期状態：線の太さを0にして非表示 */
    }
    20% {
      border-width: 5px; /* 25%まで：線の太さを増やす */
    }
    40% {
      transform: translate(-50%, -50%) scale(1.25); /* 50%まで：2倍のサイズまで広がる */
      border-width: 5px; /* 50%まで：線の太さを一定に保つ */
    }
    60% {
      border-width: 0; /* 75%まで：線の太さを0にして非表示 */
    }
    80% {
      transform: translate(-50%, -50%) scale(2.5); /* 最終状態：通常サイズに戻る */
      border-width: 0; /* 最終状態：線の太さを0にして非表示 */
    }
    100% {
      transform: translate(-50%, -50%) scale(2.5); /* 最終状態：通常サイズに戻る */
      border-width: 0; /* 最終状態：線の太さを0にして非表示 */
    }
  }
